---
layout: homepage
---

<!DOCTYPE html>
<html>
  <head>
      <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/images/favicon.ico?">
      <link rel="icon" sizes="16x16 32x32 64x64" href="{{site.url}}/images/favicon.ico">
      <link rel="icon" type="image/png" sizes="196x196" href="{{site.url}}/images/favicon-192.png">
      <link rel="icon" type="image/png" sizes="160x160" href="{{site.url}}/images/favicon-160.png">
      <link rel="icon" type="image/png" sizes="96x96" href="{{site.url}}/images/favicon-96.png">
      <link rel="icon" type="image/png" sizes="64x64" href="{{site.url}}/images/favicon-64.png">
      <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/images/favicon-32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/images/favicon-16.png">
      <link rel="apple-touch-icon" href="{{site.url}}/images/favicon-57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/images/favicon-114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/images/favicon-72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/images/favicon-144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}/images/favicon-60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/images/favicon-120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/images/favicon-76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/images/favicon-152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/images/favicon-180.png">
      <meta name="msapplication-TileColor" content="#FFFFFF">
      <meta name="msapplication-TileImage" content="/images/favicon-144.png">
      <meta name="msapplication-config" content="/browserconfig.xml">

      <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
      <link rel="stylesheet" href="{{site.url}}/assets/css/main.css" />
      <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
      <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

  </head>

  <body>

		<div class="header-image" style="position: relative">
        <div style="background: rgba(0,0,0,1); width: 100%">
          <img style="width: 100%; vertical-align: top; opacity: 0.2" src="{{ site.url }}/images/home.jpg" alt="test">
        </div>

        <div class="hometext" style="color: white; position: absolute; top: 15%; left: 0px; width: 100%; text-align: center">
            <h1>Humans of Harvard</h1>
        </div>

        <div class="hometext" style="color: white; position: absolute; top: 23%; height: 100%; width: 100%">

          <div style="position: absolute; left: 50%; transform: translate(-50%, 0px);">
              <ul style="padding-left: 0; white-space: nowrap">
                <li style="padding-left: 0; display: inline-block"><a style="display: block; float: left; text-align: center; padding: 14px 16px; color: #ffffff; border-bottom: none" href="{{ site.url }}">Home</a></li>
                <li style="padding-left: 0; display: inline-block"><a style="display: block; float: left; text-align: center; padding: 14px 16px; color: #ffffff; border-bottom: none" href="{{ site.url }}/about">About</a></li>
                <li style="padding-left: 0; display: inline-block"><a style="display: block; float: left; text-align: center; padding: 14px 16px; color: #ffffff; border-bottom: none" href="{{ site.url }}/stories">Stories</a></li>
                <li style="padding-left: 0; display: inline-block"><a style="display: block; float: left; text-align: center; padding: 14px 16px; color: #ffffff; border-bottom: none" href="{{ site.url }}/submit">Submit</a></li>
              </ul>
          </div>
        </div>


		</div>



		<!-- Wrapper -->
      <div id="wrapper">


      <!-- Main -->
				<div id="main">
					<div class="inner">
						<p style="margin-bottom: 30px"></p>
						<section class="tiles">
							{% for post in site.posts %}
							<article class="style6">
								<span class="image">
									<img src="{{ site.url }}/images/{{ post.image }}" alt="" />
								</span>
								<a href="{{ site.url }}{{ post.url }}">
									<h2>{{ post.title }}</h2>
									<div class="content">
										<p>{{ post.excerpt }}</p>
									</div>
								</a>
							</article>
							{% endfor %}
						</section>
          </div>
        </div>
