<!DOCTYPE html>
<html>
  <head>
      <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/images/favicon.ico?">
      <link rel="icon" sizes="16x16 32x32 64x64" href="{{site.url}}/images/favicon.ico">
      <link rel="icon" type="image/png" sizes="196x196" href="{{site.url}}/images/favicon-192.png">
      <link rel="icon" type="image/png" sizes="160x160" href="{{site.url}}/images/favicon-160.png">
      <link rel="icon" type="image/png" sizes="96x96" href="{{site.url}}/images/favicon-96.png">
      <link rel="icon" type="image/png" sizes="64x64" href="{{site.url}}/images/favicon-64.png">
      <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/images/favicon-32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/images/favicon-16.png">
      <link rel="apple-touch-icon" href="{{site.url}}/images/favicon-57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/images/favicon-114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/images/favicon-72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/images/favicon-144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}/images/favicon-60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/images/favicon-120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/images/favicon-76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/images/favicon-152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/images/favicon-180.png">
      <meta name="msapplication-TileColor" content="#FFFFFF">
      <meta name="msapplication-TileImage" content="/images/favicon-144.png">
      <meta name="msapplication-config" content="/browserconfig.xml">

      <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
      <link rel="stylesheet" href="{{site.url}}/assets/css/main.css" />
      <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
      <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>

  <body>
    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ site.url }}" class="logo">
									<span class="symbol"><img src="{{ site.url }}/images/logo.png" alt="" /></span><span class="title">{{site.name}}</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

          <!-- Menu -->
  					<nav id="menu">
  						<h2>Menu</h2>
  						<ul>
  							<li><a href="{{ site.url }}">Home</a></li>
                <li><a href="{{ site.url }}/about">About</a></li>
                <li><a href="{{ site.url }}/submit">Submit Letter</a></li>
  						</ul>
  					</nav>

      <!-- Main -->
				<div id="main">
					<div class="inner">

      {{ content }}

    </div>
  </div>


      <!-- Footer -->
        <footer id="footer">
          <div class="inner">
            <section>
              <h2>Get in touch</h2>
              <form method="post" form action="https://formspree.io/thehumansofharvard@gmail.com">
                <div class="field half first">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field half">
                  <input type="email" name="email" id="email" placeholder="Email" />
                </div>
                <div class="field">
                  <textarea name="message" id="message" placeholder="Message"></textarea>
                </div>
                <ul class="actions">
                  <li><input type="submit" value="Send" class="special" /></li>
                </ul>
              </form>
            </section>
            <section>
              <h2>Follow</h2>
              <ul class="icons">
                <li><a href="https://twitter.com/humansofharvard" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/thehumansofharvard/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/thehumansofharvard" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/humansofharvard" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="mailto:thehumansofharvard@gmail.com" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
              </ul>
            </section>
            <ul class="copyright">
              <li>&copy; 2017 Humans of Harvard. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </div>
        </footer>

        </div>

      <!-- Scripts -->
  			<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
  			<script src="{{ site.url }}/assets/js/skel.min.js"></script>
  			<script src="{{ site.url }}/assets/js/util.js"></script>
  			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  			<script src="{{ site.url }}/assets/js/main.js"></script>
  </body>
</html>
